[Unit]
# Unit file for running uwsgi server at boot, using systemd
Description=picard uWSGI app
After=networking.target
Wants=networking.target

[Service]
ExecStart=/usr/local/bin/uwsgi \
        --ini /etc/uwsgi/apps-available/picard_uwsgi.ini
User=www-picard
Group=www-data
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
Alias=picard_uwsgi.service
