[Unit]
# Unit file for running uwsgi server at boot, using systemd
Description=picard uWSGI app
After=networking.target
Wants=networking.target

[Service]
ExecStart=/usr/local/bin/uwsgi \
        --ini /etc/uwsgi/apps-available/picard_uwsgi.ini
ExecStop=/usr/local/bin/uwsgi --stop /run/uwsgi/picard.pid
#Environment=
User=piradio
Group=piradio
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

WorkingDirectory=/home/piradio/picard_testing
LogsDirectory= uwsgi
RuntimeDirectory= uwsgi

[Install]
WantedBy=multi-user.target
