{% extends "skeleton.html" %}
{% block title%}Index{% endblock %}
{% block content %}

        <div id="mainbox">

        {% for device in devices %}

        {% if device['switchable'] == 'true' %}
        <form action="/switch" method="POST">
        <input type="hidden" name="dev_switch" value="{{ device['id'] }}" />
        <button class="device_button" type="submit">{{ device['name'] }}</button>
        </form>
        {% endif %}
        {% endfor %}
        <br>
        <br>

        {% for device in devices %}
        {% if device['switchable'] == 'false' %}
        <div class="device_info"><img src="{{ url_for('static', filename='home.png') }}" width=16>{{ device['name'] }} {{ device['status'] }} {{ device['unit'] }} {{ device['description'] }}
        </div>
        {% endif %}
        {% endfor %}
        


        <form action="/beep" method="POST">
        <button class="device_button" type="submit">Buzzer</button>
        </form>

        <form action="/playnoise" method="POST">
        <button class="device_button" type="submit">Noise</button>
        </form>

    
        </div>
        {% for message in get_flashed_messages() %}
        {{ message }}</br>
        {% endfor %}
{% endblock %}



