{% extends "skeleton.html" %}
{% block title%}Index{% endblock %}
{% block content %}

        <div id="mainbox">

        {% for device in devices %}

        {% if device['switchable'] == 'true' %}
        <div class="device_box"> 
        <div class="device_info">{{ device['name'] }} {{ device['status'] }} {{ device['description'] }}
        <form action="/switch" method="POST">
        <input type="hidden" name="dev_switch" value="{{ device['id'] }}" />
        <button class="device_button" type="submit">Switch</button>
        </form>
        </div>
        </div>

        {% else %}
        <div class="device_box"> 
        <div class="device_info">{{ device['name'] }} {{ device['status'] }} {{ device['unit'] }} {{ device['description'] }}
        </div>
        </div>
        {% endif %}
        {% endfor %}
        


        <div class="device_box"> 
        Buzzer 
        <form action="/beep" method="POST">
        <button class="device_button" type="submit">Beep</button>
        </form>
        </div>

        <div class="device_box"> 
        Noise
        <form action="/playnoise" method="POST">
        <button class="device_button" type="submit">Play</button>
        </form>
        <form action="/stopnoise" method="POST">
        <button class="device_button" type="submit">Stop</button>
        </form>
        </div>

    
<!--    <div class="device_box">
    Variable ledState: {{ ledState }}
    </br>
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</div> -->
        </div>
		
        {% for message in get_flashed_messages() %}
        {{ message }}</br>
        {% endfor %}
{% endblock %}



