{% extends "skeleton.html" %}
{% block title%}Index{% endblock %}
{% block content %}

        <div id="mainbox">

        <label for="volume">Volume(0-100): </label><span id="volume_span">{{ volume }}</span><br>
        <input type="range" onchange="setVolume2()" id="volume" name="volume" min=0 max=100 step=5 value={{ volume }}>

        <div id="general_button_container">
            <button id="testbutton" class="general_button" onclick="playChannel(this)">Test</button>

            <form action="/radio_stop" method="POST"]>
                <button class="general_button" type="submit">Radio stop</button>
            </form>


            <form action="/motion_light" method="POST">
                <button class="general_button" type="submit">Motion light</button>
            </form>

            <form class="floatleft" action="/night_light" method="POST">
                <button class="general_button" type="submit">Night light</button>
            </form>
        </div>

        <p id="info">
        Temperature: {{ tempDate[0] }}&#8451; read at {{ tempDate[1] }}. <br>
        Now playing:<br>
        name:  {{ nowPlaying[0] }}<br>
        url:  {{ nowPlaying[1] }}<br>
        Volume: {{ volume }} <br>
        </p>

        <form action="/play_channel" method="POST">
            <button class="general_button" type="submit">Play</button>
            <select id="select_channel" name = "channel">
                {% for radio in radios %}
                <option value = {{ radio["id"] }} >{{ radio["name"] }}</option>
                {% endfor %}
            </select>
        </form>

        {% for message in get_flashed_messages() %}
        {{ message }}<br />
        {% endfor %}
    
        </div>

{% endblock %}



