{% extends "skeleton.html" %}
{% block content %}
    <div id="mainbox">
    <h1> Edit radio streaming urls </h1>
    <p>[ Name ] [ url ]</p>
    <form action="/update_radios" method="POST">
    {% for id in range(0,9) %}
        <p> 
        {{ id }}.
        <input class="set_input_text" id="radioName" type="text" name="radioName" value="{% if radios[id] %}{{ radios[id]['name'] }}{% endif %}"/>
        <input class="set_input_text" id="radioUrl" type="text" name="radioUrl" value="{% if radios[id] %}{{ radios[id]['url'] }}{% endif %}" />
        </p>
    {% endfor %}
    <button class="general_button" type="submit">Update</button>
    </form>
    </div>
{% endblock %}
