{% extends "skeleton.html" %}
{% block content %}
    <div id="mainbox">
    <h1> Edit radio streaming urls </h1>
    <label>Name, url, default</label>
    <form action="/update_radios" method="POST">
    {% for radio in radios.values() %}
        <form action="submit" method="POST">
        <p> 
        {{ radio['id'] }}.
        <input id="radioId" type="text" name="radioId{{ radio['id'] }}" value={{ radio['id'] }} hidden="True" readonly="True" />  
        <input id="radioName" type = "text" name = "radioName{{ radio['id'] }}" value={{ radio['name'] }} />
        <input id="radioUrl" type = "text" name = "radioUrl{{ radio['id'] }}" value={{ radio['url'] }} />
        {% if radio['defRadio'] == True %}
            <input type = "radio" name = "radioDef" value={{ radio['id'] }} checked="True"/>
            {% else %}
            <input type = "radio" name = "radioDef" value={{radio['id']}} />
        {% endif %}
        </p>
    {% endfor %}
    <button class="device_button" type="submit">Update</button>
    </form>
    </div>
{% endblock %}
